/* Extra small devices (phones, up to 360px) */

@media(max-width: 360px) {
	
html {
		font-size: 15px;

	}
	

	
	
header {
	height: 90vh;
	width: 100%;
	margin-left: 0;
	padding-left: 0;
	background-position:bottom;

	}
	
.logo {
	width: 100px;
	height: 100px;;
	
}
	
.header_name {
	font-size: 170%;
	letter-spacing: 2px;
	color: #E1F6F4;
	margin-left: 10%;
	margin-right: 10%;
    text-align: center;

}
	.menu_js {
		display: none;
	}

	
	.toggle_js {
		display: flex;
		justify-content:flex-end;
		align-items: center;
		font-size: 210%;
	}
	
	
	.expanded {
	display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
	width:100%;
	background-color: rgb(136, 180, 180);
}
	
	
	.btn__white  {
	font-size: 90%;
	letter-spacing: 1px;
	width: 64%;
	
}
	
	
	/* QUOTE */

blockquote {
	
	font-size: 100%;
	padding: 1px;
	

}

blockquote:before {
	font-size: 100%;

}

blockquote:after {
	font-size: 100%;

}

cite {
	padding: 5px;
	margin-left: 60%;
	overflow-y: hidden;

	
}

.author {

background-position:center; 
background-size:90%;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
padding: 50px 30px;
}


/*HOW IT WORKS*/

#how_works {
	margin: 0px 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 120%;
	word-spacing: 1px;
	letter-spacing: 1px;


	
}

#how_works_bottom {
	margin: 10px 0px;
	word-spacing: 1px;
	letter-spacing: 1px;
	font-size: 80%;
	line-height: 25px;
}


.icon {
	font-size: 160%;
	
}

	

.steps {
	line-height: 30px;
	font-size: 80%;
	padding: 1% 1%;
	margin: 2% 1%;
	color: #728686;
}


/* TRAVELS SECTIONS */

		

.travels_title {
	font-size: 120%;
	word-spacing: 1px;
	letter-spacing: 1px;
	margin-left: 2%;
	padding-left: 2%;
	text-align:center; 

	}
	
.quote {
	word-spacing: 1px;
	letter-spacing: 1px;
	font-size: 80%;
	line-height: 30px;
}


.names {
	font-size: 70%;	
	word-spacing: 1px;
	letter-spacing: 1px;
	padding-bottom: 20px;

}


/*WHO ARE WE*/
	
#who_are_we {
	margin: 0px 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 120%;
	word-spacing: 1px;
	letter-spacing: 1px;

}

#who_are_we_bottom {
	margin: 1% 5%;
	padding-bottom: 20px;
	word-spacing: 1px;
	letter-spacing: 1px;
	font-size: 80%;
	line-height: 25px;

}
	


}
	
/* Small devices (portrait tablets and large phones, up to 600px) */

@media (min-width: 361px) and (max-width: 600px) {


html {
		font-size: 20px;

	}
	
header {
	height: 90vh;
	width: 100%;
	margin-left: 0;
	padding-left: 0;
	background-position:bottom;

	}
	
.logo {
	width: 100px;
	height: 100px;
	
}
	
.header_name {
	font-size: 170%;
	letter-spacing: 2px;
	color: #E1F6F4;
	margin-left: 10%;
    margin-right: 10%;
    text-align: center;

}


	.menu_js {
		display: none;
	}
	
	.toggle_js {
		display: flex;
		justify-content:flex-end;
		
	}
	
	.expanded {
	display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
	margin-right: 0%;
	margin-bottom: 0px; 
	padding: 1%;
	width:100%;
	background-color: rgb(136, 180, 180);
		
}
	
	.btn__white  {
	font-size: 90%;
	letter-spacing: 1px;
	width: 50%; 
	
	
}
	
	
	/* QUOTE */

blockquote {
	
	font-size: 100%;
	padding: 5px;
	

}

blockquote:before {
	font-size: 100%;

}

blockquote:after {
	font-size: 100%;

}

cite {
	padding: 5px;
	margin-left: 60%;
	overflow-y: hidden;

	
}

.author {

background-position:center; 
background-size:90%;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
padding: 50px 30px;
}


/*HOW IT WORKS*/

#how_works {
	margin: 0px 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 120%;
	word-spacing: 1px;
	letter-spacing: 1px;


	
}

#how_works_bottom {
	margin: 10px 0px;
	word-spacing: 1px;
	letter-spacing: 1px;
	font-size: 85%;
	line-height: 25px;
}


.icon {
	font-size: 160%;
	
}

	

.steps {
	line-height: 30px;
	font-size: 80%;
	padding: 1% 1%;
	margin: 2% 1%;
	color: #728686;
}


/* TRAVELS SECTIONS */

		

.travels_title {
	font-size: 120%;
	word-spacing: 1px;
	letter-spacing: 1px;
	margin-left: 2%;
	padding-left: 2%;
	text-align:center; 

	}
	
.quote {
	word-spacing: 1px;
	letter-spacing: 1px;
	font-size: 80%;
	line-height: 30px;
}


.names {
	font-size: 70%;	
	word-spacing: 1px;
	letter-spacing: 1px;
	padding-bottom: 20px;

}


/*WHO ARE WE*/
	
#who_are_we {
	margin: 0px 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 120%;
	word-spacing: 1px;
	letter-spacing: 1px;

}

#who_are_we_bottom {
	margin: 1% 5%;
	padding-bottom: 20px;
	word-spacing: 1px;
	letter-spacing: 1px;
	font-size: 80%;
	line-height: 25px;

}
	

	


	}

  
	
/* Medium devices (landscape tablets, up to ) */

@media (min-width: 601px) and (max-width: 841px) {
	
	
html {
		font-size: 22px;

	}
	
header {
	height: 90vh;
	width: 100%;
	margin-left: 0;
	padding-left: 0;
	background-position:bottom;

	}
	
.logo {
	height: auto;
	
}
	
.header_name {
	font-size: 180%;
	letter-spacing: 2px;
	color: #E1F6F4;

}


	
	.menu_js {
		display: none;

	}
	
	.toggle_js {
		display: flex;
		justify-content:flex-end;
		margin-right: 30px;
	}
	
	.expanded {
	display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
	margin-right: 0%;
	margin-bottom: 0px; 
	padding: 1%;
	width:100%;
	background-color: rgb(136, 180, 180);
}
	
	.btn__white  {
	font-size: 90%;
	letter-spacing: 1px;

	
}
	
	
	/* QUOTE */

blockquote {
	
	font-size: 100%;
	padding: 5px;
	

}

blockquote:before {
	font-size: 100%;

}

blockquote:after {
	font-size: 100%;

}

cite {
	padding: 5px;
	margin-left: 60%;
	overflow-y: hidden;

	
}

.author {

background-position:center; 
background-size:90%;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
padding: 50px 30px;
}


/*HOW IT WORKS*/

#how_works {
	margin: 0px 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 120%;
	word-spacing: 1px;
	letter-spacing: 1px;


	
}

#how_works_bottom {
	margin: 10px 0px;
	padding-bottom: 20px;
	word-spacing: 1px;
	letter-spacing: 1px;
	font-size: 85%;
	line-height: 25px;
}


.icon {
	font-size: 160%;
	
}

	

.steps {
	line-height: 30px;
	font-size: 80%;
	padding: 1% 1%;
	margin: 1% 0%;
	color: #728686;
}


/* TRAVELS SECTIONS */

		

.travels_title {
	font-size: 120%;
	word-spacing: 1px;
	letter-spacing: 1px;
	margin-left: 2%;
	padding-left: 2%;
	text-align:center; 

	}
	
.quote {
	word-spacing: 1px;
	letter-spacing: 1px;
	font-size: 80%;
	line-height: 30px;
}


.names {
	font-size: 70%;	
	word-spacing: 1px;
	letter-spacing: 1px;
	padding-bottom: 20px;

}


/*WHO ARE WE*/
	
#who_are_we {
	margin: 0px 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 120%;
	word-spacing: 1px;
	letter-spacing: 1px;

}

#who_are_we_bottom {
	margin: 1% 5%;
	padding-bottom: 20px;
	word-spacing: 1px;
	letter-spacing: 1px;
	font-size: 80%;
	line-height: 25px;

}
  
}
	


  
	



