/*
#6AC1B8 - logo background 
#E1F6F4 - logo font 
#0d1f1d - def font


*/


* {
	box-sizing: border-box;
}

html {
	color: rgb(85, 101, 99);
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;


}


.row {
	height: auto;
	position: relative;

}

header {
	
	background-image: linear-gradient(rgba(83, 83, 83, 0.28), rgba(0, 0, 0, 0)),url(img/banter-snaps-387953-unsplash.jpg);
	background-position: bottom;
	background-size: 100%;
	background-attachment: fixed;
	height: 100vh;
}



section {

	background-color: rgb(249, 250, 250);
}

.logo {
	height: 180px;
	margin-top: 5x;
	margin-left: 5px;
}

.header_name {
	color: #E1F6F4;
	font-weight: 300;
	font-size: 50px;
	margin-top: 200px;
	margin-left: 40px;
	letter-spacing: 6px;
	
}

li {
	float: left;
	list-style: none;
	padding: 20px; 
	margin-right: 0px; 

}

ul {
	padding: 20px; 
	margin-right: 0px; 
	margin-left: 205px;
	float: right; 
	margin-top: 40px;
	color: #E1F6F4;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px

}

.btn {
	text-decoration: none;
	width: auto;
	padding: 10px 40px;
	border: 1px solid;
	text-align: center;
}

a {
	margin-left: 15%;
	margin-top: 20px; 
	position: absolute;
}

.btn__white  {
	
	color: aliceblue;
	background-color: rgba(150, 150, 150, 0.44);
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px
	
}


.btn__account {
	margin-top: 9px;
	padding: 10px 20px;
	background-color: rgba(150, 150, 150, 0.17);
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;


}

blockquote {
	font-style: italic;
	font-weight: 300;
	font-size: 120%;
	padding: 20px;
	color: #dddddd;

}

blockquote:before {
	content: "\201C" ;
	font-size: 150%;

}

blockquote:after {
	content: "\201E" ;
	font-size: 150%;

}

cite {
	padding: 20px;
	margin-left: 80%;
	color: #dddddd;
	
}

.author {
background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(74, 74, 74, 0.33)),url(img/paula-may-AJqeO_-ifx0-unsplash.jpg);
background-position:center; 
background-size:100%;
background-attachment: fixed;
padding: 70px 20px;
}


#how_works {
	margin: 0px 20px;
	padding-top: 60px;
	text-align: center;
	font-weight: 400;
	font-size: 150%;
	word-spacing: 1px;
	letter-spacing: 3px;
	color: rgba(91, 180, 180, 0.77);


	
}

#how_works_bottom {
	margin: 3% 15%;
	word-spacing: 2px;
	letter-spacing: 2px;
	font-size: 100%;
	line-height: 40px;



}


.icon {
	font-size: 200%;
	color: rgba(91, 180, 180, 0.77);
	
}


.steps {
	text-align: center;
	word-spacing: 1px;
	letter-spacing: 1px;
	line-height: 30px;
	font-size: 80%;
	padding: 1% 3%;
	margin: 5%;
	
}


/* Wyprawy */

.phototravel {
	height: 90%;
	width: 90%; 
}


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}


@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}













