/*
#6AC1B8 - logo background 
#E1F6F4 - logo font 
#0d1f1d - def font


*/


* {
	box-sizing: border-box;
}

html {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

*::selection {
	background-color: #ecefef;
	}


/*HEADER*/


header {
	
	background-image: linear-gradient(rgba(83, 83, 83, 0.28), rgba(2, 2, 2, 0.49)),url(img/mainpic.jpg);
	background-position: bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	overflow-y: hidden;
}



section {

	background-color: rgba(255, 255, 255, 0.67);
}

/*---logo---*/

.logo {
	width: 100px;
	height: 100px;
	position:static;
	 
	
}
	


.header_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 131%;
    flex-direction: column;}



.header_name {
	color: #E1F6F4;
	font-weight: 300;
	font-size: 220%;
	letter-spacing: 6px;

}

/*---nav---*/

nav {
	width: 100%;
	overflow-x: hidden;
}
.nav-wrapper {
	width: 100%;
	display: flex;
	align-items:center;
	position: fixed;
	z-index: 999;
	background-color: #88b4b4;
	justify-content: space-between;
	height: 52px;

}



.menu_js {
	display: flex;
	top: 0;
}

.menu_js li {
	list-style: none;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 16px /*here*/
}


li:last-child {
	margin-bottom: 20px; 
}


.menu_js a {
	text-decoration: none;
	color: aliceblue;
	font-size: 80%;
	white-space:nowrap;
	transition: 0.5s;
	transition-delay: 0.3s;
}

.menu_js a:hover{
	color: rgba(193, 255, 255, 0.9);

}



.toggle_js {
	display: none;
    z-index: 999;
	margin: 5%;
	cursor: pointer;
	font-size: 170%;
	color: aliceblue;
	align-items: center;
	transition: 0.5s;
	transition-delay: 0.3s;


}

.toggle_js:hover{
		color: rgba(193, 255, 255, 0.9);

}

.expanded {
	display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
	margin-top: 52px;
	margin-right: 0%;
	margin-bottom: 0px; 
	padding: 1%;
	width:100%;
	background-color: rgb(136, 180, 180);
	position: absolute;
}


	
.btn {
	text-decoration: none;
	width: auto;
	padding: 10px 0px;
	border: 1px solid;
	text-align: center;
}


.btn__white  {
	
	color: aliceblue;
	background-color: rgba(150, 150, 150, 0.44);
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
	white-space: nowrap;
	padding-left: 15%;
	padding-right: 15%;


}

@keyframes color {
  0%   {background: linear-gradient(90deg, rgba(255,255,255,0.5354516806722689) 0%, rgba(136,180,180,0.5914740896358543) 21%, rgba(79,183,204,0.8575805322128851) 65%);}
  25%  {background: linear-gradient(90deg, rgba(255,255,255,0.5354516806722689) 7%, rgba(136,180,180,0.5914740896358543) 32%, rgba(79,183,204,0.8575805322128851) 65%);}
	50% {background: linear-gradient(90deg, rgba(255,255,255,0.5354516806722689) 16%, rgba(136,180,180,0.5914740896358543) 42%, rgba(79,183,204,0.8575805322128851) 70%);}
  100% {background: linear-gradient(90deg, rgba(255,255,255,0.5354516806722689) 19%, rgba(136,180,180,0.5914740896358543) 49%, rgba(79,183,204,0.8575805322128851) 96%);}
}



.btn__white:hover {
	color: rgb(255, 255, 255);
	 animation-name: color;
   	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function:ease-in;
	animation-direction: alternate;

	

}

.btn__account {
	padding: 10px 20px;
	background-color: rgba(150, 150, 150, 0.17);
	font-weight: 400;
	font-size: 70%;
	letter-spacing: 1px;
	margin-right: 0px;

}


/* QUOTE */

blockquote {
	font-style: italic;
	font-weight: 300;
	font-size: 120%;
	padding: 20px;
	color: #dddddd;

}

blockquote:before {
	content: "\201C" ;
	font-size: 150%;

}

blockquote:after {
	content: "\201E" ;
	font-size: 150%;

}

cite {
	padding: 20px;
	margin-left: 80%;
	color: #dddddd;
	
}

.author {
background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(74, 74, 74, 0.33)),url(img/paula-may-AJqeO_-ifx0-unsplash_optimized.jpg);
background-position:center; 
background-size:100%;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
padding: 70px 20px;
}


/*HOW IT WORKS*/

#how_works {
	margin: 0px 20px;
	padding-top: 60px;
	font-weight: 400;
	font-size: 150%;
	word-spacing: 1px;
	letter-spacing: 3px;
	color: rgba(91, 180, 180, 0.77);
	text-align: center;



	
}

#how_works_bottom {
	margin: 3% 15%;
	word-spacing: 2px;
	letter-spacing: 2px;
	font-size: 100%;
	line-height: 40px;
	font-weight: 400;
	text-align: center;
	color: #728686; 




}


.icon {
	font-size: 200%;
	color: rgba(91, 180, 180, 0.77);
	
}


.steps {
	text-align: center;
	word-spacing: 1px;
	letter-spacing: 1px;
	line-height: 30px;
	font-size: 80%;
	padding: 1% 3%;
	margin: 5% 0;
	color: #728686;
}


/* TRAVELS SECTIONS */



.phototravel {
	height: auto;
	width: 100%;
	border-radius: 5%;
	margin: 0 auto;


}

.test {
	overflow: hidden;
	height: auto;

}

.test img{

	transition-duration: 5s;
	margin: 0 auto;


}

.test img:hover {

	transform: scale(1.5);
	z-index: 0;
	overflow: hidden;


}

.travels {
	
	background-color: rgba(242, 242, 242, 0.55);
}


.travels_title {
	color: rgba(91, 180, 180, 0.77);
	font-weight: 400;
	font-size: 150%;
	word-spacing: 1px;
	letter-spacing: 3px;
	margin-left: 2%;
	padding-left: 2%;
	text-align:center; 

	}
.quote {
	word-spacing: 2px;
	letter-spacing: 2px;
	font-size: 90%;
	text-align: center;
	line-height: 30px;
	color: #696d6d


}


.names {
	font-size: 80%;
	color: #9bacac;
	font-weight: 300;
	font-style: italic;
	text-align:center;
	word-spacing: 2px;
	letter-spacing: 2px;


}



/*WHO ARE WE*/

#who_are_we {
	text-align: center;
	margin: 0px 20px;
	padding-top: 60px;
	font-weight: 400;
	font-size: 150%;
	word-spacing: 1px;
	letter-spacing: 3px;
	color: rgba(91, 180, 180, 0.77);

}

#who_are_we_bottom {
	margin: 3% 15%;
	word-spacing: 2px;
	letter-spacing: 2px;
	font-size: 100%;
	line-height: 40px;
	font-weight: 400;
	text-align: center;
	color: #728686; 

}














