/*
#6AC1B8 - logo background 
#E1F6F4 - logo font 
#0d1f1d - def font


*/


* {
	box-sizing: border-box;
}

html {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;

}


/*HEADER*/


header {
	
	background-image: linear-gradient(rgba(83, 83, 83, 0.28), rgba(0, 0, 0, 0)),url(img/banter-snaps-387953-unsplash.jpg);
	background-position: bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	overflow-y: hidden;
}



section {

	background-color: rgba(255, 255, 255, 0.67);
}

/*---logo---*/

.logo {
	width: 160px;
	height: auto;
	
}
	


.header_name {
	color: #E1F6F4;
	font-weight: 300;
	font-size: 220%;
	margin-left: 2%;
	letter-spacing: 6px;
	position: relative;
	top: 150px;
}

/*---nav---*/

nav {
	width: 100%;
	overflow-x: hidden;
}
.nav-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items:stretch;
}


ul {
	display: flex;
}

li {
	list-style: none;
	padding: 2% 2%;
	margin: 2%;	
	
}

li:first-child{
	margin-left: -20%;
}

a {
	text-decoration: none;
	color: aliceblue;
	padding: 3% 3%;
	font-size: 90%;
	white-space:nowrap;

}

ul>.icon {
	margin-right: 5%;
	display: none;
}

	
.btn {
	text-decoration: none;
	width: auto;
	padding: 10px 4px;
	border: 1px solid;
	text-align: center;
}


.btn__white  {
	
	color: aliceblue;
	background-color: rgba(150, 150, 150, 0.44);
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
	margin-left: 2%;
	margin-top: 130px;
	position: relative;
	top: 120px;

	
}


.btn__account {
	padding: 10px 20px;
	background-color: rgba(150, 150, 150, 0.17);
	font-weight: 400;
	font-size: 90%;
	letter-spacing: 2px;
	margin-right: 0px;

}


/* QUOTE */

blockquote {
	font-style: italic;
	font-weight: 300;
	font-size: 120%;
	padding: 20px;
	color: #dddddd;

}

blockquote:before {
	content: "\201C" ;
	font-size: 150%;

}

blockquote:after {
	content: "\201E" ;
	font-size: 150%;

}

cite {
	padding: 20px;
	margin-left: 80%;
	color: #dddddd;
	
}

.author {
background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(74, 74, 74, 0.33)),url(img/paula-may-AJqeO_-ifx0-unsplash.jpg);
background-position:center; 
background-size:100%;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
padding: 70px 20px;
}


/*HOW IT WORKS*/

#how_works {
	margin: 0px 20px;
	padding-top: 60px;
	font-weight: 400;
	font-size: 150%;
	word-spacing: 1px;
	letter-spacing: 3px;
	color: rgba(91, 180, 180, 0.77);
	text-align: center;



	
}

#how_works_bottom {
	margin: 3% 15%;
	word-spacing: 2px;
	letter-spacing: 2px;
	font-size: 100%;
	line-height: 40px;
	font-weight: 400;
	text-align: center;
	color: #728686; 




}


.icon {
	font-size: 200%;
	color: rgba(91, 180, 180, 0.77);
	
}


.steps {
	text-align: center;
	word-spacing: 1px;
	letter-spacing: 1px;
	line-height: 30px;
	font-size: 80%;
	padding: 1% 3%;
	margin: 5% 0;
	color: #728686;
}


/* TRAVELS SECTIONS */



.phototravel {
	height: auto;
	width: 100%;
	border-radius: 5%;
}

.travels {
	
	background-color: rgba(242, 242, 242, 0.55);
}


.travels_title {
	color: rgba(91, 180, 180, 0.77);
	font-weight: 400;
	font-size: 150%;
	word-spacing: 1px;
	letter-spacing: 3px;
	margin-left: 2%;
	padding-left: 2%;
	text-align:center; 

	}
.quote {
	word-spacing: 2px;
	letter-spacing: 2px;
	font-size: 90%;
	text-align: center;
	line-height: 30px;
	color: #696d6d


}


.names {
	font-size: 80%;
	color: #9bacac;
	font-weight: 300;
	font-style: italic;
	text-align:center;
	word-spacing: 2px;
	letter-spacing: 2px;


}



/*WHO ARE WE*/

#who_are_we {
	text-align: center;
	margin: 0px 20px;
	padding-top: 60px;
	font-weight: 400;
	font-size: 150%;
	word-spacing: 1px;
	letter-spacing: 3px;
	color: rgba(91, 180, 180, 0.77);

}

#who_are_we_bottom {
	margin: 3% 15%;
	word-spacing: 2px;
	letter-spacing: 2px;
	font-size: 100%;
	line-height: 40px;
	font-weight: 400;
	text-align: center;
	color: #728686; 

}














